.book-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  &__header {
    display: flex;
    align-items: center;
    flex: 1 0 5em;
    border-bottom: 1px solid rgba($white, $alpha: 0.15);
    background-color: rgba($color: $black, $alpha: 0.1);
  }

  &__title {
    margin-left: 25px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    margin: 30px 30px 0 30px;
  }

  .book {
    &__top {
      text-align: center;
    }

    &__title {
      margin-bottom: 5px;
      font-size: 1.5em;
      line-height: 1.2em;
    }

    &__subtitle {
      margin-bottom: 10px;
      font-style: italic;
    }

    &__author {
      font-size: 1.2em;
    }

    &__center {
      display: flex;

      &-cover {
        flex: 0 0 auto;
        width: 19rem;
        height: 29rem;
        margin-right: 20px;
        object-fit: cover;
        object-position: center;
        background-color: $white;
        box-shadow: 2px 2px 7px rgba($black, $alpha: 0.3  );
      }
    }
  }
}
